// custome bootstrap variaables (override default)
//$primary: #7550fe;
$success: #1ed760;
$secondary: #b3b3b3;
$secondary-text: #b3b3b3;

// custom project variables
$xsmall-font-size: 0.6875rem;
$font-family-sans-serif: Circular, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans",
  "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$bg-progress: #ffffff4d;
$bg-main: #121212;
